# ignore data files
data

# ignore results
exp
results

# ignore pycache
__pycache__

# ignore log files
log*

# ignore saved model
*.pkl
*.pt

# ignore vscode and pycharm
.idea
.vscode

# ignore hidden files
.*
